body {
  background-color: #FFDEE9;
  background-image: linear-gradient(0deg, #FFDEE9 0%, #849e9e 100%);
  background-repeat: no-repeat
  font-family: 'Quicksand', sans-serif;
  margin-top: 10rem;
}

a {
  color: #d6d6d6;
}

a:hover {
  color: #35ff82;
  text-decoration: none;
}

h1 {
  padding-bottom: 10%;
  font-size: 2.4rem;
}

#title {
  color: #f7f4f4;
  margin: 8% 0 8% 2%;
  padding-right: 65%;
}

.bg-custom {
  background-color: #2c2e31;
  color: #d6d6d6;
  max-height: 4.2rem;
  padding: 2rem 2.4rem 2rem 2.4rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #b6c5d3;
  text-transform: uppercase;
  font-size: 1.1rem;
  margin-right: .7rem;
}

.mx-auto {
  padding-left: 4rem;
  padding-right: 5.2rem;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: white;
    text-decoration: underline;
    opacity: 1;
}

.navbar-collapse {
  background-color: inherit;
}

.page-footer {
  background-color: #2c2e31;
  color: #b6c5d3;
}

.footer-copyright {
  padding-left: 14.8%;
}

.jumbotron {
  margin-top: 2rem;
  background-color: transparent;
}
