body {
  background-color: #fff;
  font-family: 'Quicksand', sans-serif;
  margin-top: 10rem;
}

a {
  color: #d6d6d6;
}

a:hover {
  color: #FFDEE9;
  text-decoration: none;
}

h1 {
  color: #352222;
  padding-bottom: 2%;
  font-size: 2.4rem;
}

h5 {
  text-decoration: underline;
}

strong {
  color: black;
}

.bg-custom {
  background-color: hsla(0,0%,100%,.95);
  border-bottom: .05rem solid #FFDEE9;
  max-height: 4.2rem;
  padding: 2rem 2.4rem 2rem 2.4rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #2c2e31;
  text-transform: uppercase;
  font-size: 1.1rem;
  margin-right: .7rem;
}

.mx-auto {
  padding-left: 4rem;
  padding-right: 5.2rem;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #DABDC7;
  opacity: 1;
}

.navbar-collapse {
  background-color: inherit;
}

.page-footer {
  background-color: #2c2e31;
  color: #b6c5d3;
}

.footer-copyright {
  padding-left: 14.8%;
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  // background: rgba(0, 0, 0, 0.1);
  border: none;
}

.container {
  padding: 5rem;
  float: left;
}

.container li {
  padding: .6rem;
}

.container-deck {
  padding: 5rem;
  margin-top: -1rem;
  float: left;
}

.card-img-top {
  padding: 1.2rem;
}

.card-header {
  text-align: center;
  background-color: #2c2e31;
  color: #FFDEE9;
}

#proficiencies {
  text-align: center;
}

.atlassian {
  padding: 4.2rem 2.4rem 4.2rem 2.4rem;
}

.list-group-item {
  word-spacing: .6rem;
  text-align: center;
}
